<!DOCTYPE html>
<html>
  <head>
    <title>RKDF - Admin Portal</title>
  </head>
  <body>
    <h1>Welcome to the Admin Portal, <%= user %>!</h1>
    <ul>
      <li>
        <a href="admin/announcement">Manage Announcements</a>
      </li>
      <li>
        <a>View Contact Info</a>
      </li>
    </ul>
  </body>
</html>